global
    log stdout format raw local0

defaults
    mode http
    log global
    option httplog
    timeout connect 5s
    timeout client  60s
    timeout server  60s

frontend unity_tls
    bind *:2443 ssl crt /etc/haproxy/certs/site.pem

    option forwardfor
    http-request set-header X-Forwarded-Proto https
    http-request set-header X-Forwarded-Port 2443
    http-request set-header X-Forwarded-Host %[req.hdr(Host)]

    default_backend unity_nodes

backend unity_nodes
    balance roundrobin
    cookie SRV insert indirect nocache httponly

    server node1 unity-primary:2443 check ssl verify none cookie unity-primary
    server node2 unity-replica:2443 check ssl verify none cookie unity-replica
